@font-face {
    font-family: 'Quattrocento';
    src: local('Quattrocento'), url('font/quattrocento.woff2') format('font/woff2'), url('font/quattrocento.woff') format('font/woff'), url('font/quattrocento.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    height: 1080px;
    width: 1920px;
}
#poster {
    width: 1100px;
    max-width: 1100px;
    margin-top: 20px;
}
#poster-container{
    position: absolute;
    left: 40px;
    top:350px;
    width: 1150px;
    max-width: 1300px;
    text-align: center;
    border: 3px solid #0277bd;
    border-radius: 5px;
}
#caption {
    font-style: italic;
    font-size: 14pt;
    color: darkblue;
    margin-bottom: 20px;
}

#text {
     position: absolute; 
     top: 50px;
     left: 1300px;
    width: 650px;
    height: 920px; 
     text-align: center;
     overflow-y: scroll;
    overflow: -moz-scrollbars-vertical; 
 
    /*padding-left: 80px;
    margin-right: -55px;
    padding-top: 30px;
    */font-size: 18pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-weight: 100; */
    /* font-stretch: expanded; */
}

#audio-button {
    position: absolute;
    background-color: green;
    left: 300px;
    top: 140px;
    height: 150px;
    width: 700px;
    color: white;
    font-size: 20pt;
    text-align: center;
}

#audio-button-stop {
    position: absolute;
    background-color: red;
    left: 300px;
    top: 140px;
    height: 150px;
    width: 700px;
    color: white;
    font-size: 20pt;
    text-align: center;
}

#buttons {
    position: absolute;
    top: 20px;
    left: 10px;
}
.lang-button {
    display: inline-block;
    align-self: center;
    width: 100px;
    height: 60px;
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 30px;
}


#kz  {
    background:url('../icons/kazakhstan.png')  no-repeat center;
    background-size: 100px;
    margin-left: 55px;

}

#ru  {
    background:url('../icons/russia.png')  no-repeat center;
    background-size: 100px;
}

#en  {
    background:url('../icons/united-kingdom.png')  no-repeat center;
    background-size: 100px;
}
